ion-content {
    --ion-background-color: #fff;
    overflow-y: scroll;
}

ion-item {
    --background : #022F40;
    padding: 16px;
}

.list-md {
    background: none !important;
}
h2 {
    color: #fff;
}