<ion-header >
  <ion-toolbar class="custom-bg">
    <ion-title>My Courses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  >
  <div *ngIf="List.length==1" class="d-flex justify-content-center" >  
    <h2>You are not enrolled in any course !!</h2>

  </div>
  <div *ngIf="List.length!==1">
  <ion-list  *ngFor="let course of List">
    <ion-item>
      <ion-avatar slot="start">
        <img src={{course.img}}>
      </ion-avatar>
      <ion-label>
        <h2>{{course.title}}</h2>
        <p>{{course.details}}</p>
      </ion-label>

    </ion-item>

  </ion-list>
</div>
</ion-content>
